<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	title Construction Company Website Template
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/reader.css")
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="libs/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
	//[if lt IE 9]
	script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
	//[endif]
body
	.header.container-fluid
		section.header--top.row
			.container
				.row.space-between
					.contact
						i(class='fa fa-phone') 1234-5678-9012
						i(class='fa fa-phone') 1234-5678-9012
						i(class='fa fa-phone') 1234-5678-9012
					.social
						i(class='fa fa-facebook')
						i(class='fa fa-twitter')
						i(class='fa fa-facebook')
						i(class='fa fa-twitter')
		section.header--bottom.dark_bg.row
			.container
				.row.space-between
					.logo
						img(src="img/logo.png", alt="mixin")
					.nav.row
						.link
							ul.refocus
								a(href="#")
									li page
								a(href="#")
									li page
						.search
							i(class='fa fa-search')
		section.header--banner.row
			.container-fluid
				.slide.row
					img(src="img/main_banner-bg.jpg", alt="", class='bg row')
					.slide--content
						.container
							p 123
	.about.container
		.row
			.col-8
				h2 Welcome to our company
				h3 Aliquam lacus purus, auctor malesuada
				p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				p sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
				a(href="#", class="button") Know more
			.col-4.preview
				img(src="img/about_block-img.png", alt="")
	.services.container
		.col
			h2 Our Services
		.row
			.post.col-md-4
				img(src="img/services/post1.jpg", alt="Title")
				h3 Construction managment
				p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				a(href="#", class="button") Know more
			.post.col-md-4
				img(src="img/services/post2.jpg", alt="Title")
				h3 Renovation
				p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				a(href="#", class="button") Know more
			.post.col-md-4
				img(src="img/services/post3.jpg", alt="Title")
				h3 Architecture
				p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				a(href="#", class="button") Know more
	.portfolio.container-fluid.dark_bg
		.container
			.row.title
				.col
				h2 Made Width Love
				p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
			.row
				.links
					a(href="#", class="active") Show All
					a(href="#") Buildings
					a(href="#") Interior Design
					a(href="#") Isolation
					a(href="#") Plumbing
			.row
				.col
					span Images Mansory
	.testominials.container-fluid
		.container
			.row.title
				h2 Costomer reviews
				p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
			.row.testominials--slider
				.testominials--slider--item.col-md-4
					.message
						p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
					.persona
						img(src="img/review/person1.jpg", alt="Name mixin")
						h4 John Smith
				.testominials--slider--item.col-md-4.active
					.message
						p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
					.persona
						img(src="img/review/person2.jpg", alt="Name mixin")
						h4 John Smith
				.testominials--slider--item.col-md-4
					.message
						p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
					.persona
						img(src="img/review/person1.jpg", alt="Name mixin")
						h4 John Smith
	.contact-form.container-fluid
		.container
			.row.space-between
				.title.com-md-6.col-xs-12
					h3 Do you have any questions?
					span Feel free to contact us!
				.form.com-md-6.col-xs-12
					form(action="#")
						.row
							span Name
							span Email
						.row
							span Message
							span Submit
	.footer.container-fluid.dark_bg
		.footer--content
			.container
				.row
					.about-company.col-md-3
						h3.title Abou Company
						.footer--content--item
							img(src="img/logo.png", alt="Mixin")
							p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
							.social-links.row
								a(href="#")
									i(class="fa fa-facebook")
								a(href="#")
									i(class="fa fa-facebook")
								a(href="#")
									i(class="fa fa-facebook")
								a(href="#")
									i(class="fa fa-facebook")
								a(href="#")
									i(class="fa fa-facebook")
					.explor-link.col-md-3
						h3.title Explor Link
						.footer--content--item
							ol.fast-links
								li Our services
								li Meet our team
								li Forum
								li Help center
								li Privacy Policy
								li Cekas terms
								li Site map
					.latest-post.col-md-3
						h3.title Latest post
						.footer--content--item
							ol.post-preview
								li
									span.date 20 AUG
									span Luptatum omittantur duo ne mpetus indoctum
								li
									span.date 20 AUG
									span Luptatum omittantur duo ne mpetus indoctum
								li
									span.date 20 AUG
									span Luptatum omittantur duo ne mpetus indoctum
								li
									span.date 20 AUG
									span Luptatum omittantur duo ne mpetus indoctum
					.contact-us.col-md-3
						h3.title Contact us
						.footer--content--item
							ul.custom-links
								li.map
									span 124 New Line, London UK
								li.mail
									span hello@psdfreebies.com
								li.phone
									p +44 00 00 1234
									p +44 00 00 1234
		.footer--copyright
			.col
				Copyright @ 2016 | Designed By <a href="#">PSDFreebies.com</a>
	script(src="libs/jquery/dist/jquery.min.js")
	script(src="libs/slick-carousel/slick/slick.min.js")
	script(src="js/main.js")